.controller.ds4.white {
    background-image: url(https://braddotcoffee.github.io/Controller.svg);
}
.ds4.white .stick {
    background-image: url(https://braddotcoffee.github.io/Sticks.svg);
}
.ds4.white .face {
    background-image: url(https://braddotcoffee.github.io/Dpad.svg);
}
.ds4.white .button {
    background-image: url(https://braddotcoffee.github.io/Face.svg);
}
